[submodule "0-LLM-learning/nanochat"]
	path = 0-LLM-learning/nanochat
	url = https://github.com/karpathy/nanochat.git
	ignore = untracked
[submodule "0-LLM-learning/generative_agents"]
	path = 0-LLM-learning/generative_agents
	url = https://github.com/joonspk-research/generative_agents.git
